.iconos_redes{
    width: 20px;
    margin: 10px 5px;
}

.iconos_redes:hover{
    transform: scale(1.1);
}

.nosotros_cards{
    padding: 10px;
    background-color: #faf2d7;
}

.promos{
    padding: 10px;
    background-color: #faf2d7;
}

.card:hover{
    transform: scale(1.03);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.titulo_slider{
    color: black;
}